
html, body {
    margin: 0;
    padding: 0;
}
body {
    background: #f7da96;
}

#container {
    width: 600px;
    border: 2px solid brown;
    padding: 20px;
    margin: 20px auto 80px;
}

.menu {

    list-style-type: none;
    margin: 10px 0px;
    padding: 0;
    font-style:

}

.menu li {
    text-align: center;
    width: 145px;
    display: inline-block;
    border: 1px solid black;
    background-color: white;
    padding: 5px 0px;
    font-family: monospace;
    font-size: 15px;

}

.menu li a{
  text-decoration: none;
  color: black;
  width: 100%;
}

.menu li:hover {
  background-color: #f7da96;
}

h1:first-child {
    margin-top: 0;
}
#erstes-linda {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
}
p {
    margin: 50px 0;
}

.intro.important {
    font-weight: bold;
}
.intro {
    color: red;
}
.intro p {
    margin: 10px 15px;
}

#name {
    font-weight: bold;
}

.highlight {
    font-size: 20px;
}
